.review-rate-img {
    max-width: 500px;
    object-fit: contain;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 50px;
}

.review-container {
    display: flex;
    flex-direction: row;
    margin: 15px;
    border: 1px solid black;
}

.review-description {
    display: flex;
    flex-direction: column;
    border-left: black solid 1px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.review-author {
    font-size: x-large;
}

.review-text {
    padding-top: 5px;
}