.review-rate-img{
    max-width: 500px;
}

.reviews-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-top: 50px;
}

.review-container {
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    margin-bottom: 7px;
    border: 1px solid black;
}

.review-container:hover {
    background-color: lightblue;
    border-width: 2px;
}
.review-description {
    display: flex;
    flex-direction: column;
    border-left: black solid 1px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.review-author {
    font-size: x-large;
}

.review-text {
    padding-top: 5px;
}